{# Currently unsed ?? #}

{% embed members('_includes/form.twig') with {useSprig: true, action: 'users/set-password'} %}
    {% block content %}
        {% import '@members/_macros/forms.twig' as forms %}

        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}


        {% if errors is defined %}
            {% include members('_includes/message.twig') with {
                type: 'error',
                message: errors|join(' ')
            } only %}
        {% endif %}

        {% if success is defined and success %}
            {% embed members('_includes/message.twig') with {type: 'notice'} %}
                {% block message %}
                    {{ 'Your password was reset and you are logged in!'|t('members') }}
                    <a class="underline" href="{{ siteUrl }}">
                        {{ 'Access the site with your account'|t('members') }}</a>
                {% endblock %}
            {% endembed %}
        {% endif %}

        {{ forms.textField({
            label: 'Your New Password'|t('members'),
            name: 'newPassword',
            type: 'password',
            required: true
        }) }}


        {{ forms.button('Submit New Password'|t('members'), true) }}

    {% endblock %}
{% endembed %}
